<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="StyleSheet" href="style.css" type="text/css">
</head>
<body>
    <header>
        <div id="superiorContainer">
            <h1 id="titleHeader">BBVA</h1>
        </div>
        <div id="menusContainer">
            <ul id="listMenuContainer">
                <li class=""><a class="nav-link fw-semibold titleMenus" href="#">Proyectos</a></li>
                <li class=""><a class="nav-link fw-semibold titleMenus" href="#">Crear Proyecto</a></li>
                <li class=""><a class="nav-link fw-semibold titleMenus" href="#">Personas</a></li>
                <li class=""><a class="nav-link fw-semibold titleMenus" href="#">Productividad</a></li>   
            </ul>
        </div>
    </header>
    <div class="containerDropdowns">       
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Seleccione una Dirección</option>
            <option value="1">Opción Dirección 1</option>
            <option value="2">Opción Dirección 2</option>
            <option value="3">Opción Dirección 3</option>
        </select>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Seleccione un Servicio</option>
            <option value="1">Opción Servicio 1</option>
            <option value="2">Opción Servicio 2</option>
            <option value="3">Opción Servicio 3</option>
        </select>
    </div>
    <div class="generalContainer" style="margin: 12px 50px 0 50px; padding: 0;">
        <div class="containerProjectCourse">
            <div style="margin: 6px 0 0 15px;">
                <h4>Proyectos en curso</h4>
            </div>
            {{#each proyectos}}
            <div class="containerProject row">
                <div class="cardProyecto col-sm-4">
                    <h2 id="titleProject" class="titles">{{ProjectIDName}}</h2>
                    <ol id="listProject" class="list">
                        <li>Descripción: {{descripcion}}</li>
                        <li>Tipo: {{normativo}}</li>
                        <li>Scrum: {{scrum}}</li>
                        <li>Product Owner: {{owner}}</li>
                        <li>Estado: {{status}}</li>
                    </ol>
                </div>
                <div class="persons col-sm-3">
                    <h2 class="titles">Personas asociadas</h2>
                    <div class="containerCarousel">
                        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                            data-bs-interval="false">
                            <div class="carousel-inner">
                                {{#each emplo}}
                                <div class="carousel-item {{#if @first }} active {{/if}}">
                                    <div class="listPerson">
                                        <div class="personFlow">
                                            <h5 class="personFlow personCode">{{codigo}}</h5>
                                            <h6 class="personFlow" style="height:24px">{{nombre}}</h6><img
                                                class="imagePerson"
                                                src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50"
                                                class="img-fluid rounded-start" alt="...">
                                            <p class=""><small class="text-muted">{{dedicacion}}% /
                                                    {{tecnologia}} / {{rol}}</small></p>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" style="background-color: rgb(179, 179, 179);"
                                    aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                                <span class="carousel-control-next-icon" style="background-color:rgb(179, 179, 179);"
                                    aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="containerSchedule col-sm-5">
                    <h2 class="titles">Cronograma: </h2>
                    <ol class="listTrimestre">
                        <li class="itemListTrimestre">
                            <div class="personFlow">
                                <h5 class="personFlow personCode">Periodo en curso</h5>
                                <div class="indicadorCronograma"
                                    style="display: inline-flex; width: 400px; margin: 8px auto;">
                                    <p class="col-3">{{fecIni}}</p>
                                    <progress id="file" max="100" value="70"> 70% </progress>
                                    <p class="col-3">{{fecFin}}</p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        {{/each}}




        <div class="containerProjectBacklog">
            <div style="margin: 6px 0 0 15px;">
                <h4>Backlog</h4>
            </div>
            {{#each backlog}}
            <div class="containerProject row">
                <div class="cardProyectoBacklog col-sm-7">
                    <h2 id="titleProject" class="titles">Proyecto: {{ProjectIDName}}</h2>
                    <ol id="listProject" class="list">
                        <li>Descripción: {{descripcion}}</li>
                        <li>Tipo: {{normativo}}</li>
                        <li>Scrum: {{scrum}}</li>
                    </ol>
                </div>
                <div class="othersProyectoBacklog col-sm-5">
                    <div class="containerScheduleBacklog row">
                        <h2 class="titles">Cronograma: </h2>
                        <ol class="listTrimestre">
                            <li class="itemListTrimestre">
                                <div class="personBacklog">
                                    <h5 class="personBacklog personCode">Rango de ejecución</h5>
                                    <div class="indicadorCronograma"
                                        style="display: inline-flex; width: 400px; margin: 8px auto;">
                                        <p class="col-3">{{fecIni}}</p><progress id="file" max="100" value="0"> 0%
                                        </progress>
                                        <p class="col-3">{{fecFin}}</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#staticBackdrop">Editar</button>
                        <button class="btn btn-primary" onclick="save({{ProjectIDName}})" type="button">Enviar</button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">                            
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Editar Proyecto en Backlog</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>                                            
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group" method="localhost:3000" method="post">
                                            <span class="input-group-text">Periodo de ejecución</span>
                                            <input type="text" aria-label="First name" class="form-control" placeholder="Ejm: 1Q 2023">                                                
                                            <input type="text" aria-label="Last name" class="form-control" placeholder="Ejm: 2Q 2023">                                                
                                        </div>
                                        <div class="container">
                                            <div class="horizontal-scrollable">
                                                {{#each nuevos}}
                                                <div class="personBacklog containerPersonBacklog">
                                                    <div class="dropdown">
                                                    <button class="btn btn-secondary btn-sm dropdown-toggle botonHabilidadMaestra" id="dropdownMenuButton2" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tecnología</button>
                                                        <ul class="dropdown-menu containerHabilidadLista" aria-labelledby="dropdownMenuButton2">  
                                                            <li><a class="dropdown-item habilidadLista">ASO: 50%</a></li>
                                                            <li><a class="dropdown-item habilidadLista">APX: 45%</a></li>
                                                            <li><a class="dropdown-item habilidadLista">CELL: 89%</a></li>
                                                            <li><a class="dropdown-item habilidadLista">SCALA: 92%</a></li>
                                                            <li><a class="dropdown-item habilidadLista">Distribuido: 78%</a></li>                                        
                                                        </ul>
                                                    </div>
                                                    <h5 class="personBacklog personCode">{{codigonew}}</h5>
                                                    <h6 class="personBacklog" style="height:24px">{{nombrenew}}</h6>
                                                    <img class="imagePerson"
                                                        src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50"
                                                        class="img-fluid rounded-start" alt="...">
                                                    <p class=""><small class="text-muted">{{dedicacionnew}}% /
                                                        {{tecnologianew}} / {{rolnew}}</small></p>
                                    <form action="/" method="post" role="form">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="input-group" method="localhost:3000" method="post">
                                                    <span class="input-group-text">Periodo de ejecución</span>
                                                    <input type="text" aria-label="First name" class="form-control"
                                                        placeholder="Ejm: 1Q 2023">
                                                    <input type="text" aria-label="Last name" class="form-control"
                                                        placeholder="Ejm: 2Q 2023">
                                                </div>
                                                <div class="container">
                                                    <div class="horizontal-scrollable">
                                                        {{#each nuevos}}
                                                        <div class="person" id="personaCuadro">
                                                            <h5 class="person personCode">{{codigonew}}</h5>
                                                            <h6 class="person" style="height:24px">{{nombrenew}}</h6>
                                                            <img class="imagePerson"
                                                                src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50"
                                                                class="img-fluid rounded-start" alt="...">
                                                            <p class=""><small class="text-muted">{{dedicacionnew}}% /
                                                                    {{tecnologianew}} / {{rolnew}}</small></p>
                                                        </div>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary">Guardar</button>
                                            </div>
                                            
