<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="personasST.css">
    <title>Proyectos</title>
</head>
<body>
    <header>
        <div id="superiorContainer">
            <ul id="menusContainerSuperior">
                <li class=""><img id="logoTipoBBVA" src="image/Logotipo_Actual_BBVA_White_Transparent.jpg" alt="logoTipo"></li>
                <li class="listMenuSuperior"><a class="logoutUser" href="login"><span class="material-symbols-outlined iconLogout">logout</span></a></li>
            </ul>
        </div>
        <div id="menusContainer">
            <ul id="listMenuContainer">
                <li><a class="nav-link fw-semibold titleMenus" href="inicio">Inicio</a></li>
                <li><a class="nav-link fw-semibold titleMenus" href="#">Proyectos</a></li>
                <li><a class="nav-link fw-semibold titleMenus" href="personas">Personas</a></li>
            </ul>
        </div>
    </header>
    <div class="containerSeeUser">
        <img class="imageSeeUser" src="image/userCaptura1.PNG" class="img-fluid rounded-start" alt="...">
        {{#each login}}
        <div class="descriptionSeeUser">
            <p><b>{{usuario}}</b></p>
            <p>Tech Manager / Lider</p>
            <p>{{equipo}}</p>
        </div>
        {{/each}}
    </div>
    <div class="containerPrincipal">
        <table class="table">
            <!-- Titulos tabla de proyectos -->
            <thead >
                <tr class="principalTitlesTable">
                    <th scope="col"><p style="margin-bottom: 8px;">#</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Feature</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Título</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Proyecto</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Estado</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Scrum</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Personas</p></th>
                    <th scope="col">
                        <div class="indicadorCronograma" style="display: inline-flex; margin: 0px auto; align-items: center;">                           
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.primero}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.segundo}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px;">{{qtiles.year}}</p>
                                <p style="font-size: 10px;">{{qtiles.tercero}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.cuarto}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.quinto}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.sexto}}</p>
                            </div><p style="color: transparent;">---</p>
                        </div>
                    </th>
                    <th scope="col"><p style="margin-bottom: 8px;">Ver</p></th>
                </tr>
            </thead>
            <!-- Contenido de proyectos en "Flow" -->
        <div  id="containerGeneralProjectFlow">
            <tbody id="containerGeneralPrueba">
                {{#each features}}                
                <tr>
                    <th scope="row">{{boss}}</th>
                    <td>{{project.feature_codigo}}</td>
                    <td>{{project.feature_nombre}}</td>
                    <td>SDATOOL - {{project.proyecto}}</td>
                    <td><p class="statusFlow">{{project.estado}}</p></td>
                    <td>
                        <span class="material-symbols-outlined iconScrumTrue">
                            check
                        </span>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">    
                            <!-- Button trigger modal -->                    
                            <button type="button" class="buttonClicMePerson" data-bs-toggle="modal" data-bs-target="#staticIconPerson{{project.feature_codigo}}">
                                <span class="material-symbols-outlined iconPerson">
                                    group
                                </span>
                            </button>
                            <!-- Modal ver Personas asociadas a la Feature-->
                            <div class="modal fade" id="staticIconPerson{{project.feature_codigo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticIconPerson{{project.feature_codigo}}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticIconPerson{{project.feature_codigo}}">Personas Asociadas a la Feature: </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">                                                                                                
                                            <div class="container" style="text-align: left;">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Persona</th>
                                                            <th scope="col">Rol</th>
                                                            <th scope="col">% de Asignación</th>
                                                            <th scope="col">Tecnología</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each people}}
                                                        <tr>
                                                            <th scope="row"><img class="imagePersonView" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">{{nombre}}</th>
                                                            <td>{{rol}}</td>
                                                            <td>{{ocupacion}}</td>
                                                            <td>{{habilidad}}</td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </td>
                    <td>
                        <div class="containerIndicadorCronograma">                           
                            <div class="{{borde_uno}}"><progress id="file" max="100" value="{{quartil_uno}}" class="marineWater chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_dos}}"><progress id="file" max="100" value="{{quartil_dos}}" class="marineWater chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_tres}}"><progress id="file" max="100" value="{{progreso}}" class="marineWater chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_cuatro}}"><progress id="file" max="100" value="0" class="chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_cinco}}"><progress id="file" max="100" value="0" class="chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_seis}}"><progress id="file" max="100" value="0" class="chartProgress"></progress></div>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">                        
                            <!-- Button trigger modal Ver Feature-->
                            <button type="button" class="buttonClicMeSeeProject" data-bs-toggle="modal" data-bs-target="#staticViewFlow{{project.feature_codigo}}">
                                <span class="material-symbols-outlined clicMeSeeProject" >
                                    visibility
                                </span>                            
                            </button>
                            <!-- Modal ver descripción proyectos en Flow-->
                            <div class="modal fade" id="staticViewFlow{{project.feature_codigo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticFlowProject" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticFlowProject">Feature Characteristics</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body scrollVerticalModalSee">
                                        <div class="containerFeature">
                                            <h4 style="color:rgb(2, 21, 128); text-align: left; margin: 0 0 15px 0px;">{{project.feature_codigo}}</h4>
                                            <div class="row containerTitlesViewProjectFlow">
                                                <p class="col-md-10 nameFeature"><b>Nombre:</b> {{project.feature_nombre}}</p>
                                                <p class="col-md-2 statusFlowModal">{{project.estado}}</p>
                                            </div>
                                            <div class="row containerDescriptionProjectFlow">
                                                <p class="col-md-10"><b>Descripción:</b> {{project.descripcion}}</p>
                                            </div>
                                            <div class="containerFormFeatureFlow">
                                                <form method="post" action="/updateFeature" class="row g-3 needs-validation" novalidate>
                                                    <div class="col-md-4 position-relative">
                                                        <label for="validationTooltip01" class="form-label">Estado</label>
                                                        <input type="text" class="form-control" id="validationTooltip01" value="{{project.estado}}" required>
                                                    </div>
                                                    <div class="col-md-4 position-relative">
                                                        <label for="validationTooltip02" class="form-label">Tipo</label>
                                                        <input type="text" class="form-control" id="validationTooltip02" value="{{project.normativo}}" required>
                                                    </div>
                                                    <div class="col-md-4 position-relative">
                                                        <label for="validationTooltip03" class="form-label">Scrum (Si/No)</label>
                                                        <input type="text" class="form-control" id="validationTooltip03" value="{{project.scrum}}" required>
                                                    </div>
                                                    
                                                    <div class="col-md-6 position-relative">
                                                        <label for="validationTooltip04" class="form-label">Fecha Inicio</label>
                                                        <input type="text" class="form-control" id="validationTooltip04" value="{{project.fecha_inicio}}" disabled>
                                                    </div>
                                                    <div class="col-md-6 position-relative">
                                                        <label for="validationTooltip05" class="form-label">Fecha Finalización</label>
                                                        <input type="text" class="form-control" id="validationTooltip05" value="{{project.fecha_fin}}" disabled>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                            <div class="horizontalScrollableViewPersonFlow">
											    {{#each project.equipo}}
                                                <div class="containerPersonViewFlow">
                                                    <div style="display: flex; position: relative;">
                                                        <p class="personCodeFlow">{{codigo}}</p>
                                                        <div class="form-check" style="position: absolute; right: 10px;">
                                                            <input class="form-check-input" type="checkbox" value="{{codigo}}" id="flexCheckDefault2">
                                                        </div>
                                                    </div>
                                                    <p class="personNameFlow">{{nombre}}</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: {{ocupacion_total}}%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">{{rol}} / Interno</small></p>
                                                </div>
												{{/each}}
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Guardar y Cerrar</button>
                                    </div>
                                </div>
                                </div>
                            </div> 
                            <!-- Button trigger modal Ver Reglasde Oro-->
                            <button type="button" class="buttonClicAlertGoldenRules" data-bs-toggle="modal" data-bs-target="#AlertGoldenRules{{project.feature_codigo}}">
                                <span class="material-symbols-outlined ClicAlertGoldenRules">
                                    info
                                </span>                           
                            </button>
                            <!-- Modal ver reglas de Oro Feature-->
                            <div class="modal fade" id="AlertGoldenRules{{project.feature_codigo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tittleAlertGoldenRules"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="tittleAlertGoldenRules">Reglas de Oro</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body scrollVerticalModalSee">
                                            <div class="containerGoldenRules">
                                                <h3>Feature: {{project.feature_codigo}}</h3>
                                                <h4 class="tittleGoldenRules">Validación Reglas de Oro</h4>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Regla</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each reglas}}
                                                        <tr class="{{clase}}">
                                                            <th scope="row">{{id}}</th>
                                                            <td>{{descripcion}}</td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
        <div class="containerPrincipalBacklog">
            <!-- Contenido de proyectos en "Backlog" -->
        <table class="table">
            <tbody>
                {{#each backlog}}
                <tr>
                    <th scope="row">-</th>
                    <td>{{codigo}}</td>
                    <td>{{nombre}}</td>
                    <td>
                        <p>SDATOOL-{{proyecto}}</p>
                    </td>
                    <td><p class="statusBacklog">Backlog</p></td>
                    <td>
                        <span class="material-symbols-outlined iconScrumFalse">
                            close
                        </span>
                    </td>
                    <td>
                        <button class="buttonClicMePerson">
                            <span class="material-symbols-outlined iconPerson">
                            group
                            </span>
                        </button>
                    </td>
                    <td>
                        <div class="containerIndicadorCronograma">                           
                            <div class="{{borde_uno}}"><progress class="chartProgress" id="file" max="100" value="0"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_dos}}"><progress class="chartProgress" id="file" max="100" value="0"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_tres}}"><progress class="chartProgress" id="file" max="100" value="0"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_cuatro}}"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_cinco}}"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_seis}}"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">                        
                            <!-- Button trigger modal Backlog-->
                            
                            <button type="button" class="buttonClicMeEditProject" data-bs-toggle="modal" data-bs-target="#staticBacklogEditProject{{id}}">
                                <span class="material-symbols-outlined clicMeEditProject" >
                                    edit
                                </span>
                            </button>
                            <form method="post" action="/backToStaffing">
                                <input type="hidden" id="{{id}}" value="{{id}}" name="id_feature_new">
                                <button type="submit" class="buttonClicMeSendProject" data-bs-toggle="modal" data-bs-target="">
                                    <span class="material-symbols-outlined clicMeSendProject">
                                        publish
                                    </span>
                                </button>
                            </form>
                            <!-- Modal modificar caracteristicas Backlog-->
                            <div class="modal fade" id="staticBacklogEditProject{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBacklogProject" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBacklogProject">Standby Feature Characteristics</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body scrollVerticalModalSee">                                                                                                
                                        <div class="containerFeature">
                                            <div class="containerFormFeatureFlow">
                                                <form method="post" action="/actualizarFeature" class="row g-3 needs-validation" novalidate>
                                                    <div class="col-md-4 position-relative">
                                                        <label for="validation01" class="form-label">Código</label>
                                                        <input name="codigo" type="text" class="form-control" id="validation01" value="{{codigo}}" required>
                                                    </div>
                                                    <div class="col-md-8 position-relative">
                                                        <label for="validation02" class="form-label">Nombre</label>
                                                        <input name="nombre" type="text" class="form-control" id="validation02" value="{{nombre}})" required>
                                                    </div>
                                                    <div class="col-md-12 form-floating">
                                                        <textarea  name="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" style="height: 100px">{{descripcion}}</textarea>
                                                        <label for="floatingTextarea1">Descripción</label>
                                                    </div>
                                                    <div class="col-md-4 position-relative">
                                                        <label for="validation03" class="form-label">Estado</label>
                                                        <input type="text" class="form-control" id="validation03" value="Backlog" disabled required>
                                                    </div>
                                                    <div class="col-md-4 position-relative">
                                                        <label for="validation04" class="form-label">Tipo</label>
                                                        <select name="normativo" class="form-select" aria-label="Default select example" id="validation04">
                                                            <option value="">Seleccione</option>
                                                            <option value="1" selected>Normativo</option>
                                                            <option value="0">No Normativo</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 position-relative">
                                                        <label for="validation05" class="form-label">Scrum</label>
                                                        <select name="scrum" class="form-select" aria-label="Default select example" id="validation05">
                                                            <option value="">Seleccione</option>
                                                            <option value="1" selected>Si</option>
                                                            <option value="0">No</option>
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="col-md-6 position-relative">
                                                        <label for="validation06" class="form-label">Fecha Inicio</label>
                                                        <input name="fecha_ini" type="text" class="form-control" id="validation06" value="{{fecha_inicio}}" required>
                                                    </div>
                                                    <div class="col-md-6 position-relative">
                                                        <label for="validation07" class="form-label">Fecha Finalización</label>
                                                        <input name="fecha_fin" type="text" class="form-control" id="validation07" value="{{fecha_fin}}" required>
                                                    </div>
                                                    <input type="hidden" name="id" value="{{id}}">
                                                    <button type="submit">Actualizar</button>
                                                </form>
                                            </div>
                                        </div> 
                                        <form method="post" action="/insertarPersonas">   
                                            <div class="horizontalScrollableViewPersonFlow"> 
                                                {{#each equipo}}                   
                                                <div class="containerPersonViewFlow">
                                                    <div style="display: flex; position: relative;">
                                                        <p class="personCodeFlow">{{codigo}}</p>
                                                        <div class="form-check" style="position: absolute; right: 10px;">
                                                            <input name="personas" class="form-check-input" type="checkbox" value="{{codigo}}" id="flexCheckDefault2">
                                                        </div>
                                                    </div>
                                                    <p class="personNameFlow">{{nombre}}</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: {{ocupacion_total}}%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">{{rol}} / {{empresa}}</small></p>
                                                </div>
                                                {{/each}}                                                                             
                                            </div>
                                            <input type="hidden" name="codigo" value="{{codigo}}">
                                            <button type="submit">Insertar</button>
                                        </form>
                                        </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                </div>
                            </div>                        
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>