<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="personasST.css">
    <title>Proyectos</title>
</head>
<body>
    <header>
        <div id="superiorContainer">
            <ul id="menusContainerSuperior">
                <li class=""><img id="logoTipoBBVA" src="image/Logotipo_Actual_BBVA_White_Transparent.jpg" alt="logoTipo"></li>
                <li class="listMenuSuperior"><a class="logoutUser" href="login"><span class="material-symbols-outlined iconLogout">logout</span></a></li>
            </ul>
        </div>
        <div id="menusContainer">
            <ul id="listMenuContainer">
                <li><a class="nav-link fw-semibold titleMenus" href="inicio">Inicio</a></li>
                <li><a class="nav-link fw-semibold titleMenus" href="#">Proyectos</a></li>
                <li><a class="nav-link fw-semibold titleMenus" href="personas">Personas</a></li>
            </ul>
        </div>
    </header>
    <div class="containerSeeUser">
        <img class="imageSeeUser" src="image/userCaptura1.PNG" class="img-fluid rounded-start" alt="...">
        {{#each login}}
        <div class="descriptionSeeUser">
            <p><b>{{usuario}}</b></p>
            <p>Tech Manager / Lider</p>
            <p>{{equipo}}</p>
        </div>
        {{/each}}
    </div>
    <div class="containerPrincipal">
        <table class="table">
            <!-- Titulos tabla de proyectos -->
            <thead >
                <tr class="principalTitlesTable">
                    <th scope="col"><p style="margin-bottom: 8px;">#</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Feature</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Título</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Proyecto</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Estado</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Scrum</p></th>
                    <th scope="col"><p style="margin-bottom: 8px;">Personas</p></th>
                    <th scope="col">
                        <div class="indicadorCronograma" style="display: inline-flex; margin: 0px auto; align-items: center;">                           
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.primero}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.segundo}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px;">{{qtiles.year}}</p>
                                <p style="font-size: 10px;">{{qtiles.tercero}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.cuarto}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.quinto}}</p>
                            </div><p style="color: transparent;">---</p>
                            <div class="containerTitleTrimestre">
                                <p style="font-size: 10px; color: transparent;">-</p>
                                <p style="font-size: 10px;">{{qtiles.sexto}}</p>
                            </div><p style="color: transparent;">---</p>
                        </div>
                    </th>
                    <th scope="col"><p style="margin-bottom: 8px;">Ver</p></th>
                </tr>
            </thead>
            <!-- Contenido de proyectos en "Flow" -->
        <div  id="containerGeneralProjectFlow">
            <tbody id="containerGeneralPrueba">
                {{#each features}}                
                <tr>
                    <th scope="row">{{boss}}</th>
                    <td>{{project.feature_codigo}}</td>
                    <td>{{project.feature_nombre}}</td>
                    <td>SDATOOL - {{project.proyecto}}</td>
                    <td><p class="statusFlow">{{project.estado}}</p></td>
                    <td>
                        <span class="material-symbols-outlined iconScrumTrue">
                            check
                        </span>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">    
                            <!-- Button trigger modal -->                    
                            <button type="button" class="buttonClicMePerson" data-bs-toggle="modal" data-bs-target="#staticIconPerson{{project.feature_codigo}}">
                                <span class="material-symbols-outlined iconPerson">
                                    group
                                </span>
                            </button>
                            <!-- Modal ver Personas asociadas a la Feature-->
                            <div class="modal fade" id="staticIconPerson{{project.feature_codigo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticIconPerson{{project.feature_codigo}}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticIconPerson{{project.feature_codigo}}">Personas Asociadas a la Feature: </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">                                                                                                
                                            <div class="container" style="text-align: left;">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Persona</th>
                                                            <th scope="col">Rol</th>
                                                            <th scope="col">% de Asignación</th>
                                                            <th scope="col">Tecnología</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each people}}
                                                        <tr>
                                                            <th scope="row"><img class="imagePersonView" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">{{nombre}}</th>
                                                            <td>{{rol}}</td>
                                                            <td>{{ocupacion}}</td>
                                                            <td>{{habilidad}}</td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </td>
                    <td>
                        <div class="containerIndicadorCronograma">                           
                            <div class="{{borde_uno}}"><progress id="file" max="100" value="{{quartil_uno}}" class="marineWater chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_dos}}"><progress id="file" max="100" value="{{quartil_dos}}" class="marineWater chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFull"><progress id="file" max="100" value="{{progreso}}" class="marineWater chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_cuatro}}"><progress id="file" max="100" value="0" class="chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_cinco}}"><progress id="file" max="100" value="0" class="chartProgress"></progress></div><p class="separadorCronograma">---</p>
                            <div class="{{borde_seis}}"><progress id="file" max="100" value="0" class="chartProgress"></progress></div>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">                        
                            <!-- Button trigger modal Ver Feature-->
                            <button type="button" class="buttonClicMeSeeProject" data-bs-toggle="modal" data-bs-target="#staticViewFlow{{project.feature_codigo}}">
                                <span class="material-symbols-outlined clicMeSeeProject" >
                                    visibility
                                </span>                            
                            </button>
                            <!-- Modal ver descripción proyectos en Flow-->
                            <div class="modal fade" id="staticViewFlow{{project.feature_codigo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticFlowProject" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticFlowProject">Proyecto en Curso</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body scrollVerticalModalSee">                                                                                                
                                        <div class="containerFeature">
                                            <h3 style="color:rgb(2, 21, 128); text-align: left; margin: 0 0 15px 20px;">Feature</h3>
                                            <div class="row containerTitlesViewProjectFlow">
                                                <p class="col-md-2"><b>{{project.feature_codigo}}</b></p>
                                                <p class="col-md-8 nameFeature"><b>Nombre: </b>{{project.feature_nombre}}</p>
                                                <p class="col-md-2 statusFlowModal">{{project.estado}}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 containerDescriptionProjectFlow">
                                                    <p><b>Descripción:</b> {{project.descripcion}}</p>
                                                </div>
                                                <div class="col-md-4 containerDescriptionProjectFlow">
                                                    <p><b>Tipo:</b> Project</p>
                                                    <p><b>Estado:</b> {{project.estado}}</p> 
                                                    <p><b>Scrum:</b> si</p>
                                                </div>
                                                <div class="col-md-3 containerDescriptionProjectFlow">
                                                    <p><b>Periodo de ejecución:</b></p>
                                                    <ul>
                                                        <li><b>Inicio:</b> {{project.fecha_inicio}}</li>
                                                        <li><b>Fin:</b> {{project.fecha_fin}}</li>
                                                    </ul>           
                                                </div>
                                            </div>
                                        </div>    
                                            <div class="container ">
                                                <h3 style="color:rgb(2, 21, 128); text-align: left; margin: 0 0 15px 20px;">Proyecto</h3>
                                                <div class="row containerTitlesViewProjectFlow">
                                                    <p class="col-md-2"><b>SDATOOL-{{project.proyecto}}</b></p>
                                                    <p class="col-md-8 nameProject"><b>Nombre: </b>{{project.proyecto_nombre}}</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 containerDescriptionProjectFlow">
                                                        <p class="scrollVerticalDescriptionFlow"><b>Descripción:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aperiam dolores praesentium accusamus eos odit expedita veniam in dolor, facere fugiat magnam repellendus quae dicta deserunt temporibus sunt hic iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nesciunt suscipit. Fugit eius repellendus corporis ratione aperiam numquam dolorum corrupti unde non dolore officiis, eveniet voluptatibus consequuntur, nesciunt optio omnis?</p>
                                                    </div>
                                                    <div class="col-md-3 containerDescriptionProjectFlow">
                                                        <p><b>Costo Total:</b> {{project.presupuesto}}</p>
                                                        <p><b>Owner:</b> {{project.owner}}</p>
                                                        <p><b>Tipo:</b> {{project.normativo}}</p>
                                                        <p><b>Estado:</b> {{project.proyecto_estado}}</p>     
                                                    </div>
                                                    <div class="col-md-2 containerDescriptionProjectFlow">
                                                        <p><b>Periodo de ejecución:</b></p>
                                                        <ul>
                                                            <li><b>Inicio:</b> {{project.q_inicial}}</li>
                                                            <li><b>Fin:</b> {{project.q_final}}</li>
                                                        </ul>          
                                                    </div>
                                                    <div class="col-md-2 containerDescriptionProjectFlow">    
                                                        <p><b>Features Asociadas:</b></p>
                                                        <ul>
                                                            <li>COLW24-A</li>
                                                            <li>COLW54-B</li>
                                                        </ul>               
                                                    </div>
                                                </div>
                                            <div class="horizontalScrollableViewPersonFlow">
                                                {{#each project.equipo}}                    
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">{{codigo}}</p>
                                                    <p class="personNameFlow">{{nombre}}</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: {{ocupacion_total}}%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">{{rol}}</small></p>
                                                </div>
                                                {{/each}}                                                                            
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                </div>
                            </div> 
                            <!-- Button trigger modal Ver Reglasde Oro-->
                            <button type="button" class="buttonClicAlertGoldenRules" data-bs-toggle="modal" data-bs-target="#AlertGoldenRules{{project.feature_codigo}}">
                                <span class="material-symbols-outlined ClicAlertGoldenRules">
                                    info
                                </span>                           
                            </button>
                            <!-- Modal ver reglas de Oro Feature-->
                            <div class="modal fade" id="AlertGoldenRules{{project.feature_codigo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tittleAlertGoldenRules"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="tittleAlertGoldenRules">Reglas de Oro</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body scrollVerticalModalSee">
                                            <div class="containerGoldenRules">
                                                <h3>Feature: {{project.feature_codigo}}</h3>
                                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsa saepe alias maxime mollitia ab eaque praesentium aliquid suscipit. Magni officia nam quas maiores quae quos sapiente, culpa illum sed!</P>
                                                <h4 class="tittleGoldenRules">Validación Reglas de Oro</h4>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Regla</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each reglas}}
                                                        <tr class="{{clase}}">
                                                            <th scope="row">{{id}}</th>
                                                            <td>{{descripcion}}</td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
        <div class="containerPrincipalBacklog">
            <!-- Contenido de proyectos en "Backlog" -->
        <table class="table">
            <tbody>
                {{#each backlog}}
                <tr>
                    <th scope="row">-</th>
                    <td>{{codigo_feature}}</td>
                    <td>{{nombre_feature}}</td>
                    <td>
                        <p>SDATOOL-{{codigo_proyecto}}</p>
                    </td>
                    <td><p class="statusBacklog">Backlog</p></td>
                    <td>
                        <span class="material-symbols-outlined iconScrumFalse">
                            close
                        </span>
                    </td>
                    <td>
                        <button class="buttonClicMePerson">
                            <span class="material-symbols-outlined iconPerson">
                            group
                            </span>
                        </button>
                    </td>
                    <td>
                        <div class="containerIndicadorCronograma">                           
                            <div class="indicadorCronogramaFullDelay"><progress class="chartProgress" id="file" max="100" value="100"></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFullDelay"><progress class="chartProgress" id="file" max="100" value="100"></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFullDelay"><progress class="chartProgress" id="file" max="100" value="20"></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaEmpty"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaEmpty"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaEmpty"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">                        
                            <!-- Button trigger modal Backlog-->
                            
                            <button type="button" class="buttonClicMeEditProject" data-bs-toggle="modal" data-bs-target="#staticBacklogEditProject">
                                <span class="material-symbols-outlined clicMeEditProject" >
                                    edit
                                </span>
                            </button>
                            <form method="post" action="/backToStaffing">
                                <input type="hidden" id="{{id}}" value="{{id}}" name="id_feature_new">
                                <button type="submit" class="buttonClicMeSendProject" data-bs-toggle="modal" data-bs-target="">
                                    <span class="material-symbols-outlined clicMeSendProject">
                                        publish
                                    </span>
                                </button>
                            </form>
                            <!-- Modal modificar caracteristicas Backlog-->
                            <div class="modal fade" id="staticBacklogEditProject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBacklogProject" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBacklogProject">Proyecto en Curso</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">                                                                                                
                                        <div class="container ">
                                            <div class="row containerTitlesViewProjectFlow">
                                                <p class="col-md-3"><b>SDATOOL-{{codigo_proyecto}}</b></p>
                                                <p class="col-md-7"><b>{{nombre_proyecto}}</b></p>
                                                <p class="col-md-2 statusBacklogModal">Backlog</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 containerDescriptionProjectFlow">
                                                    <p class="scrollVerticalDescriptionFlow"><b>Descripción:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aperiam dolores praesentium accusamus eos odit expedita veniam in dolor, facere fugiat magnam repellendus quae dicta deserunt temporibus sunt hic iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nesciunt suscipit. Fugit eius repellendus corporis ratione aperiam numquam dolorum corrupti unde non dolore officiis, eveniet voluptatibus consequuntur, nesciunt optio omnis?</p>
                                                </div>
                                                <div class="col-md-4 containerDescriptionProjectFlow">
                                                    <p><b>Costo Total:</b> {{presupuesto}}</p>
                                                    <p><b>Owner:</b> {{owner}}</p>
                                                    <p><b>Tipo:</b> {{normativo}}</p>
                                                    <p><b>Scrum:</b> {{scrum}}</p> 
                                                    <p><b>Feature:</b> {{codigo_feature}}</p>
                                                    <p><b>Customer:</b> CM001A</p>     
                                                </div>
                                                <div class="col-md-3 containerDescriptionProjectFlow">
                                                    <p><b>Periodo de ejecución:</b></p>
                                                    <ul>
                                                        <li><b>Inicio:</b> {{fecha_inicio}}</li>
                                                        <li><b>Fin:</b> {{fecha_fin}}</li>
                                                    </ul>    
                                                    <p><b>Features Asociadas:</b></p>
                                                    <ul>
                                                        <li>COLW24-A</li>
                                                        <li>COLW54-B</li>
                                                    </ul>               
                                                </div>
                                            </div>
                                            <p class="titleAddPersonBacklog"><b>Agregar personas al proyecto:</b></p>
                                            <p class="descriptionAddPersonBacklog">Seleccione las personas que quiere agregar al proyecto, tenga en cuenta la ocupación.</p>
                                            <div class="horizontalScrollableViewPersonFlow">                    
                                                <div class="containerPersonViewBacklog">
                                                    <p class="personCodeFlow">O003812</p>
                                                    <p class="personNameFlow">Danie Alejandro Larrota Moreno</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>                                            
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">O003992</p>
                                                    <p class="personNameFlow">Cristhian Camilo Torres Castro</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewBacklog">
                                                    <p class="personCodeFlow">Code 3</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewBacklog">
                                                    <p class="personCodeFlow">Code 4</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">Code 5</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">Code 6</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">Code 7</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">Code 8</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">Code 9</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>
                                                <div class="containerPersonViewFlow">
                                                    <p class="personCodeFlow">Code 10</p>
                                                    <p class="personNameFlow">Name developer</p>
                                                    <img class="imagePersonFlow" src="https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=50" class="img-fluid rounded-start" alt="...">
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Ocupación: 100%</small></p>
                                                    <p class="descriptionPersonFlow"><small class="text-muted">Developer</small></p>
                                                </div>                                                                             
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                </div>
                            </div>                        
                        </div>
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <th scope="row">2</th>
                    <td>SDATOOL-005</td>
                    <td>Proyecto 5</td>
                    <td>
                        <p>COLWSD-01</p>
                    </td>
                    <td><p class="statusBacklog">Backlog</p></td>
                    <td>
                        <span class="material-symbols-outlined iconScrumFalse">
                            close
                        </span>
                    </td>
                    <td>
                        <button class="buttonClicMePerson">
                            <span class="material-symbols-outlined iconPerson">
                            group
                            </span>
                        </button>
                    </td>
                    <td>
                        <div class="containerIndicadorCronograma">                           
                            <div class="indicadorCronogramaEmpty"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaEmpty"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFullDelay" ><progress class="chartProgress" id="file" max="100" value="20"></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFullDelay" ><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaNextYear"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaEmpty"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div>
                        </div>
                    </td>
                    <td>
                        <button class="buttonClicMeEditProject">
                            <span class="material-symbols-outlined clicMeEditProject" >
                                edit
                            </span>
                        </button>
                        <button class="buttonClicMeSendProject">
                            <span class="material-symbols-outlined clicMeSendProject" >
                                publish
                            </span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>SDATOOL-006</td>
                    <td>Proyecto 6</td>
                    <td>
                        <p>COLWSD-01</p>
                    </td>
                    <td><p class="statusBacklog">Backlog</p></td>
                    <td>
                        <span class="material-symbols-outlined iconScrumTrue">
                            check
                        </span>
                    </td>
                    <td>
                        <button class="buttonClicMePerson">
                            <span class="material-symbols-outlined iconPerson">
                            group
                            </span>
                        </button>
                    </td>
                    <td>
                        <div class="containerIndicadorCronograma">                           
                            <div class="indicadorCronogramaEmpty" ><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFullDelay"><progress class="chartProgress" id="file" max="100" value="100"></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFullDelay"><progress class="chartProgress" id="file" max="100" value="20"></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaFullDelay"><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaEmpty" ><progress id="file" max="100" value="0" class="chartProgress" ></progress></div><p class="separadorCronograma">---</p>
                            <div class="indicadorCronogramaEmpty" ><progress id="file" max="100" value="0" class="chartProgress" ></progress></div>
                        </div>
                    </td>
                    <td>
                        <button class="buttonClicMeEditProject">
                            <span class="material-symbols-outlined clicMeEditProject" >
                                edit
                            </span>
                        </button>
                        <button class="buttonClicMeSendProject">
                            <span class="material-symbols-outlined clicMeSendProject" >
                                publish
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>